# Local/private config goes in the include
[user]
        name = Sebastian Limbach
        email = hello@sebastianlimbach.com
        signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDWElRSvP9/S4FcNVzn7iJyHuz3egxRVyzzfL85q7MCYFmutukrGJIe7eVOkixBFksi0RxkX9p8vF4Uv/Z4heoN6GyZTCLB+ugR1+66HG5k/O4cScwQdtsF+WomVs1VrT8C8WOoj9JWZZpuEeJ8K+GqHUOnvD71QlTFLuhJovdATTrn+2ITJbiV3sl73Y/nV7EmqYk49LeXrWxIntTeRnuVy3GWsBRfq20bqUsK5ou6+MyqAjGPLWKj+hPFX/XpPaYwHO3r3ut73LLcKtSXL3RYQ3PD3VAPmbqr9+tbYWH31562RYAiSlci96fetDxXur1ZuSzN7VpebFYR9dQQFe0v
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[log]
        abbrevCommit = true
        follow = true
[core]
        excludesFile = ~/.gitignore
        editor = nvim
        pager = less -F -X
        compression = 0
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
        keepTemporaries = false
[mergetool "p4merge"]
        path = /Applications/p4merge.app/Contents/MacOS/p4merge
[mergetool "smerge"]
        cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
        trustExitCode = true
[diff]
        mnemonicPrefix = true
        renames = true
[difftool]
        prompt = false
[help]
        autoCorrect = 1
[push]
        default = current
        followTags = true
[pull]
        rebase = merges
[fetch]
        prune = true
[commit]
        gpgSign = true
[tag]
        forceSignAnnotated = true
[merge]
        ff = false
        conflictStyle = diff3
        tool = smerge
[rebase]
        autoStash = true
[status]
        submoduleSummary = true
        showUntrackedFiles = all
[transfer]
        fsckobjects = true
[rerere]
        enabled = true
        autoUpdate = true
[init]
        defaultBranch = main
[advice]
        detachedHead = false
[http]
        postBuffer = 157286400
[gpg]
        format = ssh
[gpg "ssh"]
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
